body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    background: url('../images/green_background.jpg');
}
#pagewrapper {
    width: 900px;
    margin: 10px auto;
    padding: 0;
    border: 2px solid #FFF;
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    padding: 20px 10px;
	background-color: #CCC;
}
#content p {
	font-family: helvetica;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
#header {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}
#header p {
    /* padding: 20px 10px; */
    font-size: 24px;
    margin: 0;
    color: white;
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#footer {
    background-color: #486d76;
font-size: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    clear:both;
    border-top: 2px solid #FFF;
    text-align: center;
}
#footer p, #footer a {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight:bold;
    margin: 0;
    padding: 2px;
}

/* Navigation Bar */

#navbar ul {
    padding: 0;
    margin: 0;
    background-color: #486d76;
    color: White;
    float: left;
    width: 100%;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 4px solid #FFF;
}
#navbar ul li { 
    display: inline;
    color: #333;
    float: left;
    border-right: 1px solid #FFF;
    font-family: arial, helvetica, sans-serif;
}
#navbar ul li a {
    padding: 0.2em 0.7em;
    background-color: #666; 
    color: White;
    text-decoration: none;
    float:left;
}
#navbar ul li a:hover {
    background-color: #333;
    color: #fff;
}
