<table border="0" width="100%">
	<tr>
		<td width="40%" align="center" valign="top"><img src="/images/madison.jpg" alt="madison" style="margin-top: 20px;"></td>
		<td width="60%" valign="top"><h2>The Pravana Rewards Program 2009</h2>
			<p>PRAVANA wants to thank the salon professionals who truly support us by supporting you with back bar products for your daily use.
				</p>
			<p>It's a simple straightforward program with no complicated rules or heavy administration work.</p>
			<p><strong><u>TO QUALIFY:</u></strong></p> 
			<p>:: Your salon must purchase a minimum of $1,000 per month in PRAVANA Products. Purchases of all PRAVANA hair care and styling products and all PRAVANA Chromasilk hair color products qualify for rewards.</p>
					<p>:: Your salon must have a minimum of 3 chairs and at least 40% of its revenue must come from hair color services.</p>
					<p>:: Your salon must use PRAVANA as its back bar and professional color services.</p>
					<p>:: Your salon must be in good standing with your PRAVANA distributor.</p>
					<p>:: You must complete and submit the PRAVANA Rewards Registration form.</p>
					<br>
					<p style="font-weight: bold">* Each purchase level brings you a greater percentage of redemption toward PRAVANA Rewards Products! *</p><br>
					<table cellspacing="1" cellpadding="4" border="0" bgcolor="#333333">
						<tr bgcolor="#CCCCCC">
							<th>Monthly Purchases</th><th>Percent of purchase amount redeemable for PRAVANA Reward Products</th>
						</tr>
						<tr bgcolor="#CCCCCC" align="center"><td align="center">$2,000-$3,000</td><td>6%</td></tr>
						<tr bgcolor="#CCCCCC" align="center"><td align="center">$3,100-$4,000</td><td>8%</td></tr>
						<tr bgcolor="#CCCCCC" align="center"><td align="center">$4,100 and above</td><td>10%</td></tr>
					</table><br>
					<center><a href="/users/new"><img src="/images/register.gif" alt="Register button" align="center" border="0"></a></center>
					
			</td>
	</tr>
</table>
