<h1>Redeem Your Rewards Discounted PRAVANA Products!</h1>
<img src="/images/jonnie_laughing.jpg" alt="jonnie" align="left" style="padding-right: 20px;"><p>Now that you are a member of the PRAVANA Rewards Program, just PRINT out the form below (click the link to download) and fill it out to purchase PRAVANA products at a discounted price! Now that your salon is registered with the Rewards Program, you will receive a discount on your total purchase according to information in the table listed below. You must send your order form along with your <u><b>Quarter Invoices</b></u> to: <br><br>
	<b>ATTN: PRAVANA REWARDS PROGRAM<br>23285 Ventura Blvd<br>
Woodland Hills, CA.<br>
91364</b><br><br><center><i>* PLEASE NOTE * :: All Invoices Received Later Than 15 Days After The End Of a Particular Quarter Will Not Be Accepted...</i></center></p><br>
<table cellspacing="1" cellpadding="4" border="0" bgcolor="#333333">
	<tr bgcolor="#CCCCCC">
		<th>Monthly Purchases</th><th>Percent of purchase amount redeemable for PRAVANA Reward Products</th>
	</tr>
	<tr bgcolor="#CCCCCC" align="center"><td align="center">$2,000-$3,000</td><td>6%</td></tr>
	<tr bgcolor="#CCCCCC" align="center"><td align="center">$3,100-$4,000</td><td>8%</td></tr>
	<tr bgcolor="#CCCCCC" align="center"><td align="center">$4,100 and above</td><td>10%</td></tr>
</table><br>
<table cellspacing="2" cellpadding="4" border="0" bgcolor="#cab574" width="100%">
	<tr bgcolor="#37727d">
	<td align="center" style="color: #FFF; font-weight:normal; text-decoration: underline"><a href="/images/rewards_form.doc">*** CLICK HERE and DOWNLOAD THE REWARDS PRODUCT ORDER FORM ***</a></td></tr>
</table><br>